.cont-sec {
    padding: 70px 0 50px 50px;
    background: linear-gradient(90deg, #fff 52%,silver 50% 100%);
}
.cont-sec a {
    text-decoration: none;
    color: #3e3d3d;
}
.cont-seca input {
    border: unset;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.banner {
    padding: 10px;
    color: #fff;
    background: #AF0300;
    text-align: center;
}
  .banner-inn h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
  }
.btn-primary {
    color: #fff;
    float: right;
    margin-top: 22px;
    background-color: #A6221D;
    border: unset;
}
.btn-primary:hover{
    background: #A6221D;
    color: #fff;
}
.cont-secb {
    text-align: center;
    padding: 50px 0 50px;
}
.add-1 {
    margin-bottom: 30px;
}
.add-1 h5 {
    color: #A6221D;
}
.cont-secb {
    text-align: center;
    padding: 100px 0 50px;
}
.cont-sec address {
    margin-bottom: 1rem;
    font-style: normal;
    display: flex;
    font-size: 14px;
    line-height: inherit;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
}
@media only screen and (max-width:767px) {
    .cont-sec {
        padding: 30px 0 20px 0px;
        background: none; 
    }
}