.tit h2 {
    color: #A6221D;
    margin-bottom: 30px;
    font-weight: 600;
}
.row.top-txt a {
    text-decoration: none;
    color: #5c5b5b;
    margin: 0 auto!important;
  }
  .abt1-steel p {
    text-align: justify;
    font-size: 16px;
}
.abt1-steel a {
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
}
.tit {
  padding: 20px 0 20px;
  margin-top: 30px;
}
.abt1-a{
  padding: 10px;
  background: #5c5b5b;
  color: #fff;
}
a.abt1-a:hover {
  color: #fff;
}
.abt1-steel a:hover {
  color: #000;
}
 .abt1-steel {
  background: url("../img/abtsec.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  position: relative;
}
.some img {
  position: absolute;
  width: 23%;
  top: 60px;
  right: 433px;
}

/* button hover */
/* Btn 12 */

.button12 {
  cursor: pointer;
  background-color: #000;
  width: 330px;
  height: 64px;
  padding: 20px 50px;
  line-height: 64px;
  position: relative;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 0;
  background: #a71e25;
  margin-left: 20px;
}
.button12 span {
  color: #fff;
  display: inline-block;
  padding-left: 35px;
  text-transform: uppercase;
  font: bold 18px/66px Arial;
  transform: scaleX(0.6);
  letter-spacing: 3px;
  transform-origin: center left;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}
.button12 em {
  position: absolute;
  height: 1px;
  background: #fff;
  width: 47%;
  right: 23px;
  top: 50%;
  transform: scaleX(0.25);
   -webkit-transform:scaleX(0.25);
  transform-origin: center right;
  transition: all 0.3s ease;
  z-index: 1;
}
.button12:before,
.button12:after {
  content: '';
  background: #fff;
  height: 50%;
  width: 0;
  position: absolute;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition:0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button12:before {
  top: 0;
  left: 0;
  right: auto;
}
.button12:after {
  bottom: 0;
  right: 0;
  left: auto;
}
.button12:hover:before {
  width: 100%;
  right: 0;
  left: auto;
}
.button12:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.button12:hover span {
  color: #000;
}
.button12:hover em {
  background: #000;
  transform: scaleX(.51);
  transform: scaleX(.51);
}
/* end of button hover */

@media only screen and (max-width: 1024px){
  .some img {
    position: absolute;
    width: 25%;
    top: 97px;
    right: 313px;
}
.silder2 {
  height: 25rem;
}

}
@media only screen and (max-width: 768px){
  .abt1-steel {
    background: none;
    position: relative;
}
  .some {
    background: url('../img/img3.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 25rem;
}
.some img{
  display: none;
}

.pro-sli {
  position: absolute;
  top: 96px;
  right: 40px;
}

.cout-up {
  padding: 20px 0 20px;
}
.count-up h2{
  font-size: 30px;
  margin: 0;
}
}
@media only screen and (max-width: 767px){
  .some {
    background: none;
}
.abt1-steel {
  text-align: center;
}
.abt1-steel a {
  font-size: 16px;
}
}
@media only screen and (max-width: 425px){
  .abt1-steel p {
    text-align: center;
    font-size: 14px;
}

}
