.prod-zoom{
    padding: 50px 0px 30px;
}
.row.product-zoom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner{
    padding: 20px;
    color: #fff;

}
.product-zoom h5 {
    color: #241d17;
    font-weight: 600;
}