.yrs-exp img {
    width: 100%;
}
.cout-up{
    padding: 70px 0 70px;
    background: url('../img/yea-ex.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.cout-up h2 {
    text-align: center;
    color: #fff;
    font-size: 44px;
    font-weight: 900;
}
.cout-up h5 {
    text-align: center;
    color: #F5BD95;
}
.cout1, .cout2, .cout3{
    border-right: 2px solid silver;
}
@media only screen and (max-width: 1024px) {
    .cout-up {
        padding: 20px 0 20px;
    }
    .cout1, .cout2, .cout3 {
        border-right: 2px solid silver;
        height: 125px;
    }
}
@media only screen and (max-width: 768px){
.cout-up {
    padding: 20px 0 20px;
}
.cout1, .cout2, .cout3 {
    border-right: 1px solid silver;
    height: 98px;
    width: 33%;
}
.cout-up h2 {
    margin: 0;
    font-size: 20px;
}
.cout-up h5 {
    font-size: 18px;
}

}
@media only screen and (max-width:320px){
    .cout-up h2 {
        margin: 0;
        font-size: 16px;
    }
    .cout-up h5 {
        font-size: 15px;
    }
    .cout1, .cout2, .cout3 {
        height: 75px;
        border: unset;
        width: 33%;
    }
}